# 1. list and its deafault functions

In [40]:
fruit = ['apple','orange','mango','cheery','pineapple','apple','mango','apple']

In [41]:
fruit

['apple', 'orange', 'mango', 'cheery', 'pineapple', 'apple', 'mango', 'apple']

In [42]:
#append- it is used for adding elements to the list to the last portion of list

fruit.append("plum")

In [43]:
fruit

['apple',
 'orange',
 'mango',
 'cheery',
 'pineapple',
 'apple',
 'mango',
 'apple',
 'plum']

In [44]:
#insert- it is to insert an element at specified postion

fruit.insert(2,1000)

In [45]:
fruit

['apple',
 'orange',
 1000,
 'mango',
 'cheery',
 'pineapple',
 'apple',
 'mango',
 'apple',
 'plum']

In [48]:
#count-it calculates the total occurence of given element if list

fruit.count('apple')

3

In [52]:
#reverse- it reverse the order of the elements in the list

fruit.reverse()

In [53]:
fruit

['plum',
 'apple',
 'mango',
 'apple',
 'pineapple',
 'cheery',
 'mango',
 1000,
 'orange',
 'apple']

In [58]:
#remove- by mentioning the object or element in the list it will be deleted from the list

fruit.remove(1000)

In [59]:
fruit

['apple',
 'apple',
 'cheery',
 'mango',
 'mango',
 'pineapple',
 'plum',
 'orange',
 'apple']

# 2.dictinory and its deafault functions

In [26]:
data={'name':'prawin','age':'18','city':'chennai','country':'india','D.O.B':'12:08:2002'}

In [27]:
data

{'name': 'prawin',
 'age': '18',
 'city': 'chennai',
 'country': 'india',
 'D.O.B': '12:08:2002'}

In [28]:
#get- returns the value of the key

data.get("name")

'prawin'

In [29]:
#keys- returns veiw object of all keys

data.keys()

dict_keys(['name', 'age', 'city', 'country', 'D.O.B'])

In [30]:
#values- returns veiw of all values in dictinory

data.values()

dict_values(['prawin', '18', 'chennai', 'india', '12:08:2002'])

In [31]:
#returns veiw of dictionary's(key, value)pair

data.items()

dict_items([('name', 'prawin'), ('age', '18'), ('city', 'chennai'), ('country', 'india'), ('D.O.B', '12:08:2002')])

In [32]:
#returns and removes latest element from dictinoary

data.popitem()

('D.O.B', '12:08:2002')

# 3. set and its deafault functions

In [11]:
a = {"prawin","india","chennai",1,2,3,4,5,6,}

In [12]:
a

{1, 2, 3, 4, 5, 6, 'chennai', 'india', 'prawin'}

In [13]:
b = {'prawin','chennai',1,2}

In [14]:
b

{1, 2, 'chennai', 'prawin'}

In [15]:
#add- adds an element to the set

a.add('letsupgrade')

In [16]:
print(a)

{'india', 1, 'prawin', 2, 3, 4, 5, 6, 'chennai', 'letsupgrade'}

In [19]:
#issubset-retuens wheater another set contains this set or not(true or false)

b.issubset(a)

True

In [18]:
#isdisjoint-returns wheater two sets have intersection or not 

a.isdisjoint(b)

False

In [20]:
#issuperset-The issuperset () method returns True if a set has every elements of another set (passed as an argument). If not, it returns False
a.issuperset(b)

True

In [21]:
#union- method returns a set that contains all items from the original set, and all items from the specified sets.

a.union(b)

{1, 2, 3, 4, 5, 6, 'chennai', 'india', 'letsupgrade', 'prawin'}

In [22]:
#intersection- The intersection() method returns a set that contains the similarity between two or more sets.

a.intersection(b)

{1, 2, 'chennai', 'prawin'}

# 4.tuples and its deafault functions

In [40]:
c = ('hello', 'hi', 'go', 1, 2, 3, 1, 2, 4, 2)

In [41]:
#The count() method returns the number of times the specified element appears in the tuple

c.count(2)

3

In [42]:
#The index() method returns the index of the specified element in the tuple.

c.index('hello')

0

# 5.strings and its deafault functions

In [43]:
word = "hello , i am prawin , i am learning python from letsupgrade"

In [44]:
word

'hello , i am prawin , i am learning python from letsupgrade'

In [45]:
#captilize- it make the first letter as a capital letter

word.capitalize()

'Hello , i am prawin , i am learning python from letsupgrade'

In [46]:
#lower- it makes everything in lowercase

word.lower()

'hello , i am prawin , i am learning python from letsupgrade'

In [47]:
#swapcase - it used to swap  the words to upper to lower or lower to upper

word.swapcase()

'HELLO , I AM PRAWIN , I AM LEARNING PYTHON FROM LETSUPGRADE'

In [50]:
#upper- it makes everything in upper case 

word.upper()

'HELLO , I AM PRAWIN , I AM LEARNING PYTHON FROM LETSUPGRADE'

In [51]:
#isalpha- it checks wheather the string contains only alphabets or aplhabets with nnumbers

word.isalpha()

False